# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Flutter
**/.dart_tool/
**/build/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

# Android
**/.gradle/
**/local.properties
**/captures/
android_gateway/signing/

# .NET
**/bin/
**/obj/

# Local artifacts
artifacts/

# Secrets
*.keystore
*.jks
*.p12
*.pem
